/* ======================================
    Image Styles
   ====================================== */
.thumbnail img {
  @include border;
  @include shadow;
}

/* Lightbox overrides to fit image width to screen size */
.lb-image, .lb-dataContainer {
 max-width: 100%;
 height: auto !important;
 width: 100%;
}

.lb-outerContainer {
 max-width: 100%;
 height: auto !important;
}
