// ======================================
//  Inputs
// ======================================

input {
  @include center;
  @include border($bd-color: $color-secondary);
  display: block;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
